<div class="columns">
  <div class="column">
    <div class="main">
      <h2>ORGANIZE </br>YOUR LIFE</h2>

    </div>
  </div>
</div>
<div class="columns">
  <div class="column main-content">
    <div>
      <h2>
        THRIVE can get you back on track to managing life's daily tasks.
      </h2>
      <div>
        {{#if user}}
        <button><a href="/profile">GET STARTED</a></button>
        {{else}}
        <button><a href="/signup">GET STARTED</a></button>
        {{/if}}
      </div>
    </div>
  </div>
</div>
<div class="columns is-centered main-card" id="main-boxes">
  <div class="column box is-3">
    <div class="card">
      <div class="card-image">
        {{!-- <image src="https://data.whicdn.com/images/270071162/superthumb.jpg?t=1481677443"></image> --}}
        <image
          src="https://images.unsplash.com/photo-1434030216411-0b793f4b4173?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80">
        </image>
        <h2> text </h2>
      </div>
    </div>
  </div>
  <div class="column box is-3">
    <div class="card">
      <div class="card-image">
        {{!-- <image src="https://www.districtdispatch.org/wp-content/uploads/2016/07/glasses-book.jpg"></image> --}}
        <image
          src="https://images.unsplash.com/photo-1488998427799-e3362cec87c3?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80">
        </image>
      </div>
      <div class="card-header">
        <h2>Minimalistic Design</h2>
      </div>
      <div class="content">
        <p>Reduce distractions and focus on what what you need to.</p>
      </div>
    </div>
  </div>
  <div class="column box is-3">
    <div class="card">
      <div class="card-image">
        <image src="https://mrparkerhandymandotcom.files.wordpress.com/2016/01/coffee-and-books1.png"></image>
        <h2>text</h2>
      </div>
    </div>
  </div>
</div>