{{!-- <a href="/login"><span class="fa fa-user"></span>Login</a>
<a href="/signup"><span class="fa fa-user"></span> Signup</a> --}}



<nav class="navbar" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu">


        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" href="/login"><span class="fa fa-user"></span>Login</a>
                    <a class="button is-light" href="/signup"><span class="fa fa-user"></span> Signup</a>
                </div>
            </div>
        </div>
    </div>
</nav>



<div class="main">
    <div class="container">
        <div class="notification">
            <h2>content</h2>
        </div>
    </div>
</div>