<div class="columns">
    <div class="main column">
        <h2>ORGANIZE </br>YOUR LIFE</h2>
    </div>
</div>
<div class="columns is-centered main-card">
    <div class="column box is-3">
        <div class="card">
            <div class="card-image">
                <image src="https://data.whicdn.com/images/270071162/superthumb.jpg?t=1481677443"></image>
                <h2> text </h2>
            </div>
        </div>
    </div>
    <div class="column box is-3">
        <div class="card">
            <div class="card-image">
                <image src="https://www.districtdispatch.org/wp-content/uploads/2016/07/glasses-book.jpg"></image>
                <h2>text</h2>
            </div>
        </div>
    </div>
    <div class="column box is-3">
        <div class="card">
            <div class="card-image">
                <image src="https://mrparkerhandymandotcom.files.wordpress.com/2016/01/coffee-and-books1.png"></image>
                <h2>text</h2>
            </div>
        </div>
    </div>
</div>