<div class="columns top-img top-img-auth">
  <div class="column is-three-fifths is-offset-one-fifth">
    <div class="card card-info card-info-main">
      <div class="card-contents-main card-contents-auth">
        <h1>Signup</h1>
        <form action="/signup" method="post">
          <div class="auth-wrapper">
            <label>Email</label>
            <input type="text" name="email">
          </div>
          <div class="auth-wrapper">
            <label>Password</label>
            <input type="password" name="password">
          </div>
          <button type="submit">Signup</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="columns">
  <div class="column is-4 is-offset-4">
    <p>Already have an account? <a href="/login">Login</a></p>
    <a href="/auth/facebook"><i class="fab fa-facebook-square"></i> Facebook</a>
    <a href="/auth/twitter"><i class="fab fa-twitter-square"></i> Twitter</a>
    <a href="/auth/google"><i class="fab fa-google-plus-square"></i>Google+</a>
  </div>
</div>