nav {
  background-color: white;
  height: 10vh;
}

@media only screen and (min-width: 600px) {
  nav {
    height: 5vh;
  }
}

a {
  text-decoration: none;
  color: black;
}

#navbarBasicExample > div.navbar-start > h2 {
  font-size: 4vh;
  font-weight: 700;
}

.box {
  border: 1px solid black;
}

.main {
  background-image: url('https://pilbox.themuse.com/image.jpg?url=https%3A%2F%2Fassets.themuse.com%2Fuploaded%2Fattachments%2F17954.jpg%3Fv%3D940099b9b79be5183457207d95b446e25bf98053a4cd7bf65706dc543c19823a&h=367&prog=1');
  font-size: 80px;
  background-size: cover;
  width: 100%;
  height: 80vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-card {
  justify-content: space-around;
}

.menu {
  height: 100vh;
}

.menu-list a {
  text-decoration: none;
  text-align: center;
}

.sticky-note {
  width: 25vw;
  position: absolute;
}

#editor {
  height: 80vh;
}

.box {
  width: 20vw;
}

form {
  display: inline;
}
