<nav class="navbar" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <h2>logo here</h2>
        </div>
        <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    More
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/account">
                        Account
                    </a>
                    <a class="navbar-item" href="/logout">
                        Logout
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<input type="hidden" id="hidden" value={{notes}} />


<div class="columns">
    <div class="column is-one-fifth">
        <aside class="menu">
            <p class="menu-label">
                Notes
            </p>
            <ul class="menu-list">
                <li><a>New Note</a></li>
            </ul>

        </aside>

    </div>
    <div class="column">
        <div>

            <div id="editor">
                {{editor}}
                <p>Good world!</p>
                <p>Sgrehre <strong>bold</strong> text</p>
                <p><br></p>

            </div>
            <button onclick="saveNote()">Save</button>


        </div>
    </div>
</div>





<script>
    const toolbarOptions = [
        ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
        ['blockquote', 'code-block'],

        [{ 'header': 1 }, { 'header': 2 }],               // custom button values
        [{ 'list': 'ordered' }, { 'list': 'bullet' }],
        [{ 'script': 'sub' }, { 'script': 'super' }],      // superscript/subscript
        [{ 'indent': '-1' }, { 'indent': '+1' }],          // outdent/indent
        [{ 'direction': 'rtl' }],                         // text direction

        [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
        [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

        [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
        [{ 'font': [] }],
        [{ 'align': [] }],

        ['clean']                                         // remove formatting button
    ];

    const options = {
        debug: 'info',
        modules: {

            toolbar: toolbarOptions
        },
        placeholder: 'Compose an epic...',
        readOnly: false,
        theme: 'snow'
    };
    const editor = new Quill('#editor', options);

    const Delta = Quill.import('delta');
    const testObject = [{ insert: 'Goodbye World' }]
    const saveNote = _ => {
        const content = editor.getContents()
        const stringifiedContent = JSON.stringify(content);
        const noteObject = { title: 'gkdgdgkgd', content: stringifiedContent }
        axios.post('/note/create', noteObject, {
            headers: { 'content-type': 'application/json' }
        })
    }

    const fetchNotes = async _ => await axios.get('/getNotes')
    const showNote = async e => {
        const id = e.target.getAttribute('id');
        const { data: { title, content } } = await axios.get(`/setNote/${id}`)
        editor.setContents(JSON.parse(content))
    }
    const foo = fetchNotes().then(({ data }) => {
        const menuList = document.querySelector(".menu-list");
        data.forEach(note => {
            const listItem = document.createElement('li')
            listItem.setAttribute('id', note._id)
            listItem.innerHTML = note.title
            listItem.addEventListener('click', showNote)
            menuList.appendChild(listItem)
        })
    })



</script>